<h1>Nueva categoria</h1>

<%= form_with(model: @category, local: true) do |f|%>

    <% if @category.errors.any? %>
        <% @category.errors.full_messages.each do |msg|%>
            <p><%= msg %></p>
        <%end%>
    <%end%>

    <div>
        <%= f.label :name, 'name' %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.submit 'guardar'%>
    </div>

<%end%>